services:
  - type: web
    name: la-camara-biblioteca
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production
      - key: RAILS_LOG_TO_STDOUT
        value: "true"
    disk:
      name: sqlite-data
      mountPath: /opt/render/project/src/storage
      sizeGB: 1
